body {
  background-color: $white;
  color: $dark-gray;
}

.strong, strong{
  color: $black;
}

.landing{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    text-align: center;
    max-width: 60vh;
    img{
      max-width: 300px;
    }
    h1 {
      font-weight: 200;
    }
  }
  .informes{
    font-size: 0.8em;
  }
}
