---
layout: default
page:
  title: "Escuela de Hackers: 18 de julio al 18 de agosto 2016"
---

.landing
  .container
    {% img '{{image_path}}escuela.png' magick:resize:300 %}
    %p
      Construimos y jugamos con la tecnología.
    %p
      Venimos de diferentes contextos y tenemos diferentes habilidades.
      Queremos que tú seas el siguiente talento.
    %p
      Aprende a crear nuevas herramientas.
      Influye en nuevos productos tecnológicos.
    %p.strong
      Sé un hacker.
    %br
    .informes
      %p
        <strong>Curso:</strong> 18 de julio al 19 de agosto de 2016
      %p
        <strong>Sesiones informativas en
        %a{:href => "https://www.facebook.com/lamadrigueracholula/"}
          La Madriguera
        \:</strong>
        %ul
          %li
            \- Viernes 8 de julio, 18hrs
          %li
            \- Miércoles 13 de julio, 18hrs.
          %li
            \- Sábado 16 de julio, 4PM.
      %br
      %p
        %a{:href => 'mailto:hola@escueladehackers.com'}
          Envíanos un correo para otras preguntas
